{% extends 'teacher/basefile.html' %}
{% block body %}

<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm p-4" style="border-radius: 20px; background: #fff;">
        <h2 class="text-center fw-bold mb-4">{{ chapter.title }}</h2>

        <div class="mb-3">
          <h4 class="text-primary mb-1">Chapter :   {{ chapter.subject }}</h4>
          <p class="text-dark"></p>
        </div>

        <div class="mb-3">
         <p class="text-muted", style="text-align:justify;">{{ chapter.description }}</p>
        </div>

        

        <div class="text-center mt-4">
          <a href="{% url 'chapters' %}" class="btn btn-primary">
            ← Back to Chapter List</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}